.nav {
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 30px;
}

.menu {
    list-style: none;

}
.vpn{
    gap:3px;
    display: flex;
    align-items: center;
}
.signup{
    

        left: 0.41px;
        top: 0px;
        border-radius: 15px;
        border: 2px solid orangered;
        color:orangered;
        font-weight: bold;
        padding: 7px 20px;
    
        background: #FFFFFF;
}
.signin{
    border:none;
    background: white;
    font-weight: bold;
}

