.text{
        width: 300px;
        height: 60px;   
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 45px;
        width: 60%;   
        color: #0B132A;
        
}

.text1{
    text-align: start;
    margin: 0;
}
.text2{
        width: 260.75px;
        height: 28.19px;
    
    
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
       
        color: #4F5665;
        text-align: start
}
.paragraph{
    display: flex;
    height: 40vh;
    margin: 50px 0 0 0;
}
.getStarted{
    left: 0.41px;
        top: 0px;
        border-radius: 10px;
        border: 2px solid red;
        color:white;
        font-weight: bold;
        padding: 7px 20px;
        background-color: red;
        margin-right: 50%;
    
        
}

.section-2{
    width: 50%;
}

img{
    height: 100%;
}